spring:
  mail: 
    host: smtp.gmail.com
    port: 587
    properties:
        mail:
            smtp:              
                auth: true
                starttls:
                    required: true
                    enable: true
    username: gvprogramacion@gmail.com
    password: cvqnwbpuntixrcnz
  datasource: 
    url: jdbc:mysql://localhost:3306/TiendaProducto?allowPublicKeyRetrieval=true&useSSL=false&useTimezone=true&serverTimezone=GMT&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect  
  thymeleaf:
    cache: false 
server:
  error:
    whitelabel:
      enabled: false
  servlet:
    session:
      cookie:
        http-only: true
      tracking-modes:
      - cookie
