<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}" />
    </head>
    <body>
        <header>
            <section class="main-title">
                <h1>E-Game<span>Egg</span></h1>
            </section>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Shop</li>
                </ul>
                <button type="submit" id="signIn">Sign In</button>

                <!--shopping cart??-->
            </nav>
        </header>
        <main>
            <div class="search">
                <input type="text" placeholder="search">
            </div>
            <section class="banner">
                <div class="banner-image">
                    <!--banner-->
                </div>
            </section>
            <section class="top-products">
                <!--icon??-->
                <h2>Products</h2>
            </section>
            <section class="cards-conteiner">
                <div class="cards-product">
                    <form action="/addproduct" method="post" enctype="multipart/form-data">
                        <p>Seleccionar archivo:<input type="file" name="file" /></p>
                        <p><input type="submit" value="Enviar"/></p>   
                    </form>
                    <div>
                    <img src="/show?fileName=2.JPG" style="width: 200px"/>
                    </div>
                    <h3>product 1</h3>
                    <p>$$$$</p>
                </div>
                <div class="cards-product">
                    <form action="/addproduct" method="post" enctype="multipart/form-data">
                        <p>Seleccionar archivo:<input type="file" name="file" /></p>
                        <p><input type="submit" value="Enviar"/></p>   
                    </form>
                    <h3>product 2</h3>
                    <p>$$$$</p>
                </div>
                <div class="cards-product">
                   <form action="/addproduct" method="post" enctype="multipart/form-data">
                        <p>Seleccionar archivo:<input type="file" name="file" /></p>
                        <p><input type="submit" value="Enviar"/></p>   
                    </form>
                    <h3>product 3</h3>
                    <p>$$$$</p>
                </div>
            </section>

    </main>
    <footer>
    <h3>All rights reserved Egg Educacion</h3>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../assets/index.js"></script>
</body>

        </footer>
    </body>
</html>