<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" media="all"
          href="/src/main/resources/static/styles/login.css" th:href="@{/styles/login.css}" />
    <title>Login</title>
</head>
<body>
    <header>
    
    </header>
    <main>
    <div class="container">
        <h2>Log <span>In</span></h2>
        <p>No tienes una cuenta?<a href="/register.html">Registrate</a></p>
    <form>
        <label for="login" name="email">Email</label>
        <input type="text" name="email"placeholder="Enter your email">
        <label for="password" name="password" placeholder="Enter your password">Password</label>
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" name="login" value="Submit" class="button">
    </form>
    </div>
   </main>
</body>
</html>