<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" media="all"
          href="/src/main/resources/static/styles/login.css" th:href="@{/styles/login.css}" />
    <title>Login</title>
</head>
<body>
    <header>
    
    </header>
    <main>
        <div th:if="${error}" class="alert alert-danger" role="alert"> 
                <span th:text="${error}"></span>
            </div>
              <div th:if="${param.logout}" class="alert alert-success" role="alert"> 
                <span>Has finalizado la sesión con éxito!</span>
            </div>
    <div class="container">
        <h2>Log <span>In</span></h2>
    <form th:action="@{/logincheck}" method="post">
       <!-- <label for="login" name="email">Email</label>
        <input type="text" name="email"placeholder="Enter your email">
       -->
        
        <label>Username</label>
        <input type="text" th:value="${username}" name="username" autocomplete="off" >

        <label>Password</label>  
        <input type="password" name="password" placeholder="Enter your password" autocomplete="off">
        
        
        <input type="submit" name="login" value="Submit" class="button" >
    </form>
        
                                <button class="btn-dark px-5 py-2 ms-auto"> <a  href="/register">Registrarse</a>

        
    </div>
   </main>
</body>
</html>