<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" media="all"
          href="/src/main/resources/static/styles/login.css" th:href="@{/styles/login.css}" />
          <link rel="stylesheet" type="text/css" media="all"
          href="/src/main/resources/static/styles/style.css" th:href="@{/styles/style.css}" />
    <title>Login</title>
</head>
<body>
    <header>
        <section class="main-title">
            <a href="/"><h1 id="home">E-Gam<span>Egg</span></h1></a>
        </section>
    </header>
    <main>
        <!--<div th:if="${error}" class="alert alert-danger" role="alert"> 
                <span th:text="${error}"></span>
            </div>
              <div th:if="${param.logout}" class="alert alert-success" role="alert"> 
                <span>Has finalizado la sesión con éxito!</span>
            </div>-->
    <div class="container">
        <h2>Log <span>In</span></h2>
        <p>No tienes cuenta?<a href="/register">Registrate</a></p>
    <form th:action="@{/logincheck}" method="post">
       <!-- <label for="login" name="email">Email</label>
        <p>No tienes una cuenta?<a href="/register.html">Registrate</a></p>
    <form>
        <label for="login" name="email">Email</label>
        <input type="text" name="email"placeholder="Enter your email">
       -->
        
        <label>Usuario</label>
        <input type="text" th:value="${username}" name="username" autocomplete="off" placeholder="Ingrese su usuario" >

        <label>Contraseña</label>  
        <input type="password" name="password" placeholder="Ingrese su contraseña" autocomplete="off">
        
        
        <input type="submit" name="login" value="Ingresar" class="button" >
    </form>
    <div th:if="${error}" class="alert alert-danger" role="alert"> 
        <p th:text="${error}"></p>
    </div>
      <div th:if="${param.logout}" class="alert alert-success" role="alert"> 
        <p>Has finalizado la sesión con éxito!</p>
    </div>
    </div>
   </main>
   <footer>
    <h3>Todos los derechos reservados E-GamEgg</h3>
    </footer>
</body>
</html>