<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/src/main/resources/static/styles/modify.css"
        th:href="@{/styles/modify.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="/src/main/resources/static/styles/style.css"
        th:href="@{/styles/style.css}" />
    <title>modificarProducto</title>
</head>

<body>
    <header>
        <section class="main-title">
            <a href="/">
                <h1 id="home">E-Gam<span>Egg</span></h1>
            </a>
        </section>
    </header>

    <main class="main-product">
        <div class="container-image">
            <h2>Modificar Producto</h2>
        </div>
        <div>
            <form enctype="multipart/form-data" class="modify-product"
                th:action="@{/modifyproduct/}+${product.idProduct}" method="post">
                <label for="producto">Nombre</label>
                <input name="Name" type="text" th:value="${product.Name}" class="input-modify">
                <label for="producto">Código producto</label>
                <input name="codeProduct" type="text" th:value="${product.CodeProduct}" class="input-modify">
                <label for="precio">Precio</label>
                <input name="Price" type="number" th:value="${product.Price}" class="input-modify">
                <label for="TradeMark">Marca del producto</label>
                <input name="TradeMark" type="text" th:value="${product.TradeMark}" class="input-modify">
                <label for="TradeMark">Stock</label>
                <input name="Stock" type="text" th:value="${product.Stock}" class="input-modify">
                <label>Categoría</label>
                <select name="category">
                    <option th:each="Category : ${T(ProductShop.Enums.Category).values()}"
                        th:value="${product.category}" th:text="${Category}"></option>
                </select>
                <br>

                <label for="photo">Foto [[${product.photo.name}]] </label>
                <input name="archivo" type="file" class="" placeholder="seleccione una Foto para subir">
                <input type="submit" name="" value="Modificar" class="button">
                <input type="button" name="" value="Cancelar"  onclick="location.href='../'">
                
            </form>
            <form class="delete" th:action="@{/deleteproduct/}+${product?.idProduct}" method="post"
                th:value="${product?.idProduct}" </form>
        </div>
        
            
        

    </main>

  

    <footer>
        <h3>Todos los derechos reservados E-GamEgg</h3>
    </footer>
    <script src="../assets/index.js"></script>
</body>

</html>