<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIENDA</title>
</head>
<body>
<h1><strong>E-GAMEEG<strong></h1>
    <h1><p align ="left"><strong><strong>Registrar un usuario</strong></p></h1>
<label> Nombre y Apellido </label><br>

<input type= "text" name = "nombre"><br>

<label> Email </label><br>

<input type= "text" name = "Email"><br>

<label> Edad </label><br>

<input type= "number" name = "Edad"><br>

<label> Fecha de Nacimiento </label><br>

<input type= "date" name = "fechanac"><br>

<label> Sexo </label><br>

<input type= "radio" name = "Sexo" value= "Hombre"> Hombre <br>
<input type= "radio" name = "Sexo" value= "Mujer"> Mujer <br>

<label>Pais de nacimiento</label> <br>
<select name= "Pais">
    <option>
        Argentina
    </option>
    <option>
        Brasil
    </option>
    <option>
        Chile
    </option>
    <option>
        Uruguay
    </option>
</select>
<br>

<button type="submit">Enviar</button>

<button type="reset">Borrar</button>


</body>
</html>