@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #ffffff;
}

.input-cantity{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    border-style: none;
    width: 50%;
    height: 40px;
    color: #ffffff;
    border-radius: 15px;
}
.paymentMethod{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    color: #ffffff;
}
.paymentMethod option{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}
.container-purchase{
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.title span{
        color: #E78A00;
}
.rectangle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 500px;
    margin-bottom: 5px;
}
.rectangle img{
    height: 400px;
    width: 400px;
}
.border1{
    border-right: none;
}
.border2{
    border-left: none;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 10px;
}
.payment select{
    background: #000000;
    width: 50%;
    height: 25%;
    border-radius: 10px;
    text-align: center;
}

.payment-h3{
    margin-top: 50px;
}
.buttons{
    display: flex;    
}
.btn{
    margin: 5px;
    text-align: center;
    height: 50px;
    width: 100px;
    border-style: none;
    border-radius: 15px ;
    background-color: #E78A00;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
}
.btn a{
    margin-top: 15px;
}
footer{
    
    margin-top: 100px;
    width: 100%;
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto
    }

    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto
    }
}

@media (max-width:426px) {

    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px
    }

    ::placeholder {
        font-size: 9px
    }
}


