.main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: auto;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    border: 1px solid #ffffff;
    border-radius:10px;
    background-color: transparent;
    margin-bottom:75px;
}
form{
    display: flex;
    flex-direction: column;
}
.register-title{
    margin: 10px;
    font-size: 32px;
    color: #ffffff;
}
.register-title span{
    color: #E78A00;
}
input{
    width: 250px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #ffff;
    margin:0.5rem;
    cursor: pointer;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); 
    margin-bottom: 15px;
}
input:hover{
    border-color: #E78A00;
}
footer{
    position: fixed;
    bottom: 0; 
    width: 100%;
}

@media screen and (max-width: 768px){
    .container{
        border: none;
    }
}