.search{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 200%;
    height:40px;
}
.search input{
    margin-left: 10px;
    width: 200px;
    border-radius: 40px;
    border-style: none;
    text-align: center;
    height: 30px;
    background-color: rgba(80, 79, 79, 0.274);
    border: 1px solid #000000;
}

.searchButton{
    height: 30px;
    width: 100px;
    color: #ffff ;
    text-align: center;
    justify-content: left;
    background-color: #000000;
    border-style: none;
    margin-left: 30px;
}
.searchButton:hover{
    border-color: #E78A00;
}
.cleanFilter{
    background: transparent;
    border-style: none;
    text-align: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 40%;
    height: 100%;
}
.cleanFilter:hover{
    border-color: #E78A00;
}
.filter{
    margin-left: 10px;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    color: #ffff;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}
.filter input{
    background: transparent;
    border-style: none;
}
.filtros2{
    display: flex;
    align-items: left;
    justify-content:left;
    
}
