@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   /*background-color:#2B2B2B;*/
    scroll-behavior: smooth ;
    color: #ffffff;
}
body{
    width: 100%;
    height: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}

.main-title{
    margin-left: 15px;
    transition: transform 0.5s;
}
.main-title h1{
    font-size:27px;
    font-weight: bold;
    cursor: pointer;
}
.main-title:hover{
    transform: scale(1.1);
}
.main-title span{
    color: #E78A00;
}
nav{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    border-style: none;
    border-radius: 10px;
    height:50px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    color:#E78A00;
    border: 1px solid #FFFFFF;
    background-color: #000000;
}
nav h3:hover{
    background: rgba(255, 255, 255, 0.568);
    color: #2B2B2B;
}
nav button{
    margin-left: 25px;
    border-style: none;
    border-radius: 10px;
    height:50px;
    width: 75px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}
nav button:hover{
    background-color: #ffffff;
    color: #2B2B2B;
}
.a-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    border-style: none;
    border-radius: 10px;
    height:50px;
    width: 75px;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}
.a-button:hover{
    background: rgba(255, 255, 255, 0.568);
    color: #2B2B2B;
}
.search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:40px;
    margin-bottom: 50px;
}
.search input{
    border-style: none;
    text-align: center;
    border-radius: 15px;
    height: 50px;
    background-color: rgba(80, 79, 79, 0.274);
    border: 1px solid #000000;
}
.search input:hover{
    border-color: #E78A00;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner-image{
   /* background-image: url("../images/banner.jpeg");
    
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 80%;*/
    height: 50vh;
    width: 100%;
    margin-top: 20px;
}
.banner-image img{
  height:100%;
  width: 100%;
}
.top-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px ;
    margin-right: 50px;
}
.top-products h2{
   color: rgba(255, 255, 255, 0.678);
    font-size: 2rem;
}
.top-products label{
    color: rgba(255, 255, 255, 0.678);
    font-size: 1.5rem ;
    margin-right: 10px ;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.filter{
    width: 200px;
    margin-right: 10px;
    height: 40px;
    border-radius: 15px;
    color: #ffff;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}
.filter input{
    background: transparent;
    border-style: none;
    width: 200px;
}


select:hover{
    border: 1px solid #E78A00;
}
.cleanFilter{
    background: transparent;
    border-style: none;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 200px;
    height: 50px;
}
.cleanFilter:hover{
    border-color: #E78A00;
}
.searchButton{
    height: 100px;
    width: 200px;
    border-radius: 15px;
    color: #ffff ;
    background-color: transparent;
    border-style: none;
    margin-left: 5px;
}
.buttonFilter{
    height: 60px;
    width: 200px;
    border-radius: 15px;
    color: #ffff ;
    border: 1px solid #000000;
    background-color: transparent;
    margin-left: 5px;
}
.buttonFilter:hover{
    border-color: #E78A00;
}
.searchButton:hover{
    border-color: #E78A00;
}
.cards-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.cards-product{
   /* background-color: rgba(251, 250, 246, 1);*/
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid #000000;
    border-radius: 2px;
    margin: 15px;
    text-align: center;
    width: 400px;
    height: 500px;
    margin-top: 15px;
    transition: transform 1s;
    cursor:pointer;
}
.cards-product h3{
    color: #000000;
}
.cards-product p{
    color: #000000;
}
.cards-product:hover{
    transform: scale(1.1);
}
.cards-product i{
    color: #000000;
    
}
.cards-product img{
    margin:  10px;
}
.add-product{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modify{
    color: #ffffff; 
    background-color: #000000;
    height: 30px;
    width: 100px;
    border-radius:5px;
    border-style: none;
    cursor: pointer;
}
.modify:hover{
    color: #000000;
    background: rgba(255, 255, 255, 0.568);
}
.add-product{
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); 
    border-style: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content:center;
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
}
footer h3{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.imgProduct{

width: 300px;
height: 300px;
object-fit: cover;
}
ul{
    list-style: none;
}
.m{
	display: block;
	width: 100%;
	height: 12px;
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	text-transform: capitalize;
}
.m:hover{
    color: #E78A00;
}

.flex_column {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

.felx_row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.movil {
	width: 100%;
	height: 50px;
    
}
#btn_menu,
.btn_menu {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 3;
}

#btn_menu {
		display: none;
}

.btn_menu {
	width: 40px;
	height: 40px;
	color: red;
}


.btn_span {
	position: absolute;
	top:0;
	width: 30px;
	height: 5px;
    background: #fff;
	transition: all .3s ease;
}
.btn_span:nth-child(2) {
	top: 10px
}
.btn_span:nth-child(3) {
	top: 20px
}
#btn_menu:checked ~ .btn_menu #btn_span_1 {
	top: 10px;
	transform: rotate(45deg);
}
#btn_menu:checked ~ .btn_menu #btn_span_2{
	opacity: 0;
}
#btn_menu:checked ~ .btn_menu #btn_span_3{
	top:10px;
	transform: rotate(-45deg);
}


.container_flex {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container_menu {
	width: 100%;
	height: 100vh;
}

.container_menu {
	position: absolute;
	top: 0;
	right: -100vw;
	width: 100%;
	height: 100vh;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
	transition: all .5s ease;
	z-index: 2;
}

#btn_menu:checked ~ .container_flex .container_menu {
	right: 0;
}
.menuResponsive{
    display: none;
}


.input-filter2 input{
    border-radius: 15px;
    height:2.5rem;
    margin: 5px;
    border-style: none;
    background: #000000;  /* fallback for old browsers */
}

@media screen and (max-width: 768px){
    .menuResponsive {
        display: block;
    }
    .completeNav{
        display: none;
    }
    .top-products{
        display: none;
    }
    .filter{
        margin: 10px;
    }
}